In [517]:
import pandas as pd
import numpy as np

# Read the three files into python as dataframes

In [518]:
data_1 = pd.read_excel('C:/Users/mauri/Documents/Important IH Files/lab-customer-analysis-round-1/files_for_lab/excel_files/file1.xlsx')

In [519]:
data_2 = pd.read_excel('C:/Users/mauri/Documents/Important IH Files/lab-customer-analysis-round-1/files_for_lab/excel_files/file2.xlsx')

In [520]:
data_3 = pd.read_excel('C:/Users/mauri/Documents/Important IH Files/lab-customer-analysis-round-1/files_for_lab/excel_files/file3.xlsx')

# Show the DataFrame's shape.

In [521]:
data_1.shape[0] + data_2.shape[0] + data_3.shape[0]

9137

In [522]:
data_2.shape

(996, 11)

In [523]:
data_3.shape

(7070, 11)

# Standardize header names.

In [524]:
# data_1.head(0)
col_new_1 = []
for item in data_1:
    print(item.lower())
    col_new_1.append(item.lower())
data_1.columns = col_new_1

customer
st
gender
education
customer lifetime value
income
monthly premium auto
number of open complaints
policy type
vehicle class
total claim amount

In [525]:
data_1.head(0)

Empty DataFrame
Columns: [customer, st, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount]
Index: []

In [526]:
col_new_2 = []
for item in data_2:
    print(item.lower())
    col_new_2.append(item.lower())
data_2.columns = col_new_2

customer
st
gender
education
customer lifetime value
income
monthly premium auto
number of open complaints
total claim amount
policy type
vehicle class

In [527]:
data_2.head(0)

Empty DataFrame
Columns: [customer, st, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, total claim amount, policy type, vehicle class]
Index: []

In [528]:
col_new_3 = []
for item in data_3:
    print(item.lower())
    col_new_3.append(item.lower())
data_3.columns = col_new_3

customer
state
customer lifetime value
education
gender
income
monthly premium auto
number of open complaints
policy type
total claim amount
vehicle class

In [529]:
data_3.head(0)

Empty DataFrame
Columns: [customer, state, customer lifetime value, education, gender, income, monthly premium auto, number of open complaints, policy type, total claim amount, vehicle class]
Index: []

# Rearrange the columns in the dataframe as needed

In [530]:
col_1_re = list(data_1.columns.values)
col_1_re

['customer',
 'st',
 'gender',
 'education',
 'customer lifetime value',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'policy type',
 'vehicle class',
 'total claim amount']

In [531]:
data_1 = data_1[['customer','st','gender','education','customer lifetime value','income','monthly premium auto','number of open complaints','policy type','vehicle class','total claim amount']]

In [532]:
col_2_re = list(data_2.columns.values)
col_2_re

['customer',
 'st',
 'gender',
 'education',
 'customer lifetime value',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'total claim amount',
 'policy type',
 'vehicle class']

In [533]:
data_2 = data_2[['customer','st','gender','education','customer lifetime value','income','monthly premium auto','number of open complaints','policy type','vehicle class','total claim amount']]

In [534]:
col_3_re = list(data_3.columns.values)
col_3_re

['customer',
 'state',
 'customer lifetime value',
 'education',
 'gender',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'policy type',
 'total claim amount',
 'vehicle class']

In [535]:
data_3 = data_3.rename({'state':'st'}, axis = 1)

In [536]:
data_3 = data_3[['customer','st','gender','education','customer lifetime value','income','monthly premium auto','number of open complaints','policy type','vehicle class','total claim amount']]

In [537]:
data_1.head(5)

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0,1000,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0,94,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767,108,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0,106,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357,68,1/0/00,Personal Auto,Four-Door Car,17.269323

In [538]:
data_2.head(5)

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.6
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.2
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.6
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,Personal Auto,Luxury Car,1027.2
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,Corporate Auto,Two-Door Car,451.2

In [539]:
data_3.head(5)

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.200000
1,TB86706,Arizona,M,Master,2502.637401,0,66,0,Personal Auto,Two-Door Car,3.468912
2,ZL73902,Nevada,F,Bachelor,3265.156348,25820,82,0,Personal Auto,Four-Door Car,393.600000
3,KX23516,California,F,High School or Below,4455.843406,0,121,0,Personal Auto,SUV,699.615192
4,FN77294,California,M,High School or Below,7704.958480,30366,101,2,Personal Auto,SUV,484.800000

In [540]:
data_1.columns == data_2.columns #Checks if data 1 columns are equal to columns 2

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [541]:
data_2.columns == data_3.columns #Checks if data 2 columns are equal to columns 3

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [542]:
data_1.columns == data_3.columns #Checks if data 1 columns are equal to columns 3

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [543]:
# Not Required, already dom

# Concatenate the three dataframes

In [544]:
data_combi = pd.concat([data_1,data_2,data_3], axis = 0)

In [545]:
data_combi.reset_index(drop = True, inplace = True )

# Which columns are numerical?

In [546]:
data_combi.select_dtypes('number')

      income  monthly premium auto  total claim amount
0          0                  1000            2.704934
1          0                    94         1131.464935
2      48767                   108          566.472247
3          0                   106          529.881344
4      36357                    68           17.269323
...      ...                   ...                 ...
9132   71941                    73          198.234764
9133   21604                    79          379.200000
9134       0                    85          790.784983
9135   21941                    96          691.200000
9136       0                    77          369.600000

[9137 rows x 3 columns]

# Which columns are categorical?

In [547]:
data_combi.select_dtypes('object')

,customer,st,gender,education,customer lifetime value,number of open complaints,policy type,vehicle class
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,Bachelor,23405.98798,0,Personal Auto,Four-Door Car
9133,PK87824,California,F,College,3096.511217,0,Corporate Auto,Four-Door Car
9134,TD14365,California,M,Bachelor,8163.890428,3,Corporate Auto,Four-Door Car
9135,UP19263,California,M,College,7524.442436,0,Personal Auto,Four-Door Car
9136,Y167826,California,M,College,2611.836866,0,Corporate Auto,Two-Door Car

# Understand the meaning of all columns

In [548]:
data_combi.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value       object
income                         int64
monthly premium auto           int64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object

In [549]:
data_combi['customer lifetime value'].value_counts()

16468.220790    6
5246.278375     6
22332.439460    6
4270.034394     6
5107.163002     6
               ..
7477.176362     1
15700.284360    1
2968.077571     1
5452.171237     1
2611.836866     1
Name: customer lifetime value, Length: 8211, dtype: int64

# Perform the data cleaning operations mentioned so far in class

### Delete the column education and the number of open complaints from the dataframe.

In [550]:
to_drop = ['education','number of open complaints']

In [551]:
data_combi = data_combi.drop(to_drop, axis = 1 )

In [552]:
data_combi

,customer,st,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0,1000,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59%,0,94,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17%,48767,108,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18%,0,106,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65%,36357,68,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,23405.98798,71941,73,Personal Auto,Four-Door Car,198.234764
9133,PK87824,California,F,3096.511217,21604,79,Corporate Auto,Four-Door Car,379.200000
9134,TD14365,California,M,8163.890428,0,85,Corporate Auto,Four-Door Car,790.784983
9135,UP19263,California,M,7524.442436,21941,96,Personal Auto,Four-Door Car,691.200000
9136,Y167826,California,M,2611.836866,0,77,Corporate Auto,Two-Door Car,369.600000

### Correct the values in the column customer lifetime value. They are given as a percent, so multiply (typo in project, should be ***divide***) them by 100 and change dtype to numerical type.

In [553]:
data_combi['customer lifetime value'] = data_combi['customer lifetime value'].replace('%$','', regex = True)

In [554]:
# data_combi['customer lifetime value'] = data_combi['customer lifetime value'].str.replace('%$','', regex = True)
#Question

In [555]:
data_combi['customer lifetime value']

0               NaN
1         697953.59
2        1288743.17
3         764586.18
4         536307.65
           ...
9132    23405.98798
9133    3096.511217
9134    8163.890428
9135    7524.442436
9136    2611.836866
Name: customer lifetime value, Length: 9137, dtype: object

In [556]:
data_combi

,customer,st,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0,1000,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59,0,94,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17,48767,108,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18,0,106,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65,36357,68,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,23405.98798,71941,73,Personal Auto,Four-Door Car,198.234764
9133,PK87824,California,F,3096.511217,21604,79,Corporate Auto,Four-Door Car,379.200000
9134,TD14365,California,M,8163.890428,0,85,Corporate Auto,Four-Door Car,790.784983
9135,UP19263,California,M,7524.442436,21941,96,Personal Auto,Four-Door Car,691.200000
9136,Y167826,California,M,2611.836866,0,77,Corporate Auto,Two-Door Car,369.600000

In [557]:
data_combi['customer lifetime value'] = pd.to_numeric(data_combi['customer lifetime value']) # no inplace option, gotta reset it

In [558]:
data_combi.dtypes

customer                    object
st                          object
gender                      object
customer lifetime value    float64
income                       int64
monthly premium auto         int64
policy type                 object
vehicle class               object
total claim amount         float64
dtype: object

In [559]:
pd.to_numeric(data_combi['customer lifetime value'], errors = 'coerce')

0                NaN
1       6.979536e+05
2       1.288743e+06
3       7.645862e+05
4       5.363077e+05
            ...
9132    2.340599e+04
9133    3.096511e+03
9134    8.163890e+03
9135    7.524442e+03
9136    2.611837e+03
Name: customer lifetime value, Length: 9137, dtype: float64

In [560]:
data_combi['customer lifetime value'].isna().sum()

7

In [561]:
data_combi.select_dtypes('object')

     customer          st gender     policy type  vehicle class
0     RB50392  Washington    NaN   Personal Auto  Four-Door Car
1     QZ44356     Arizona      F   Personal Auto  Four-Door Car
2     AI49188      Nevada      F   Personal Auto   Two-Door Car
3     WW63253  California      M  Corporate Auto            SUV
4     GA49547  Washington      M   Personal Auto  Four-Door Car
...       ...         ...    ...             ...            ...
9132  LA72316  California      M   Personal Auto  Four-Door Car
9133  PK87824  California      F  Corporate Auto  Four-Door Car
9134  TD14365  California      M  Corporate Auto  Four-Door Car
9135  UP19263  California      M   Personal Auto  Four-Door Car
9136  Y167826  California      M  Corporate Auto   Two-Door Car

[9137 rows x 5 columns]

### Check for duplicate rows in the data and remove if any.

In [570]:
#Checks for duplicate rows
data_combi.duplicated().sum()

3

In [571]:
data_combi.drop_duplicates(inplace = True)

In [580]:
data_combi

,customer,st,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0,1000,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,6.979536e+05,0,94,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1.288743e+06,48767,108,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,7.645862e+05,0,106,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,5.363077e+05,36357,68,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,2.340599e+04,71941,73,Personal Auto,Four-Door Car,198.234764
9133,PK87824,California,F,3.096511e+03,21604,79,Corporate Auto,Four-Door Car,379.200000
9134,TD14365,California,M,8.163890e+03,0,85,Corporate Auto,Four-Door Car,790.784983
9135,UP19263,California,M,7.524442e+03,21941,96,Personal Auto,Four-Door Car,691.200000
9136,Y167826,California,M,2.611837e+03,0,77,Corporate Auto,Two-Door Car,369.600000

### Filter out the data for customers who have an income of 0 or less.

In [578]:
filter_low_income = data_combi[(data_combi['income'] <= 0)]

In [598]:
#Filter of all households with less than 
filter_low_income

,customer,st,gender,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,NaN,0,1000,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.590000,0,94,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,M,764586.180000,0,106,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,M,721610.030000,0,101,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,M,473899.200000,0,67,Personal Auto,Four-Door Car,482.400000
...,...,...,...,...,...,...,...,...,...
9126,WZ45103,California,F,5678.050167,0,76,Personal Auto,Four-Door Car,364.800000
9128,RX91025,California,M,19872.262000,0,185,Personal Auto,SUV,1950.725547
9129,AC13887,California,M,4628.995325,0,67,Corporate Auto,Two-Door Car,482.400000
9134,TD14365,California,M,8163.890428,0,85,Corporate Auto,Four-Door Car,790.784983
9136,Y167826,California,M,2611.836866,0,77,Corporate Auto,Two-Door Car,369.600000

# Everything Below is extra, tried to make a boolean mask :(

In [595]:
fil_list = filter_low_income['income'].tolist()

In [599]:
filter_low_income['income'].value_counts()

0    2294
Name: income, dtype: int64

In [603]:
fil_list.count

In [592]:
bool_mask = []
filter_low_income['income']
for i in fil_list:
    if i == 0:
        bool_mask.append('True')
    else:
        continue

In [607]:
bool_mask.count('True')

2294

In [608]:
bool_mask.count('False')

0